
.Cards {
    margin:20px 50px 70px 50px;
    background-color: #d9ff66;
}

.title {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.info {
    text-align: center;
}

.hassix {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
}

.smallcards {
    margin-bottom: 18px;
    border: 2px solid #00bd70;
    border-radius: 15px;
    background-color: #00bd70;
    color: #fff;
    font-weight: bold; 
}

.smallcards:hover {
    background-color: #ffff99;
    border:2px solid #ffff99;
    color: #333;
    font-weight: bold; 
}

.text {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-ul {
    margin-top: 20px;
}
.space {
    margin-top: 6rem;
}