#hostPage {
    width: 60%;
    margin-left:-100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.harta {
    border-left: 4px dashed green;
    margin-left: 20px;
}
