
 #primaPagina{
    background-color: #fff;
    margin:0 15%;
}

#clientPage {
    background-color: #fff;
    color: black;
    font-size: 15px;
    margin:50px;
}

#hostPage {
    background-color: #fff;
    color: black;
    font-size: 15px;
    margin:50px;
    
}