
 #primaPagina{
    background-color: #fff;
    margin:0 15%;
}

/*  Margin-ul decentreaza tot div-ul.  :D  */
#clientPage {
    background-color: #fff;
    color: black;
    font-size: 25px;
    /* margin:50px; */
}

#hostPage {
    background-color: #fff;
    color: black;
    font-size: 25px;
    /* margin:50px; */
    
}