
 #primaPagina{
    background-color: #fff;
}

#clientPage {
    background-color: #fff;
    color: black;
    font-size: 15px;
    margin:50px;
}

#hostPage {
    background-color: red;
    margin: 50px;
}