
.dog-runing {
    width: 100%;
    margin-top: 60px;
}

.firsth {
    margin-top: 20px;
    text-align: center;
    color: #993300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hasfour {
    text-align: center;
    font-style: italic;
}

.new-horizontal {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
    width: 60%;
}

.petsimg {
    width: 100%;
    margin-top: 50px;
    border: 1px solid #ddd;
}

.hastree {
    margin-top: 40px;
}

.buton-host {
    width: 100%;
}

.hastree-secondrow {
    margin-top: 70px;
}

.buton-client {
    width: 100%;
    margin-top: 50px;
}

.second-horizontal {
    margin-top: 30px;
    border: 2px solid #8c8b8b;
}

.footer-ul li{
    list-style-type: none;
    cursor: pointer;
    color: #262626;
    margin-right: 80px;
}

.footer-ul li:hover {
    color: #8e852d;
}

#first-footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 10px;
}

.fa-facebook-square {
    color: #1D3C78;
}